table.matches tr td {
  vertical-align: middle;
}
.match-date {
  font-size: 11px;
  color: #777;
}
.flag {
  width: 32px;
  margin: 5px;
  border: 1px solid #666;
}
.team {
}
.home-team {
  font-size: 16px;
  text-align: right;
}
.visitor-team {
  font-size: 16px;
  text-align: left;
}
.bih {
  font-size: 12px !important;
}
.score {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #069;
}
.score .glyphicon {
  font-size: 16px;
  color: #777;
}

.prediction {
  font-size: 16px;
  text-align: center;
  color: #000;
}

.prediction input {
  text-align: center;
  font-size: 14px;
  width: 48px;
  padding: 2px;
}

.vs {
  color: #eee;
}
