#sidebar {
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*width: 280px;*/
  /*overflow: auto;*/
  background: #0bd;
}

#workarea {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 280px;*/
  /*bottom: 0;*/
  /*width: -moz-calc(100% - 280px);*/
  /*width: calc(100% - 280px);*/
  /*padding: 20px;*/
  padding: 0px;
  /*overflow: auto;*/
}

table.matches {
}

table.matches tr th {
  text-align: center;
  background: #ec1;
  border-bottom: 2px solid #0bd;
}

table.matches tr td {
  vertical-align: middle;
  border-bottom: 1px solid #dadada;
}
.match-date {
  font-size: 11px;
  color: #777;
}
.flag {
  width: 32px;
  margin: 5px;
  border: 1px solid #666;
}
.team {
}
.home-team {
  font-size: 16px;
  text-align: right;
}
.visitor-team {
  font-size: 16px;
  text-align: left;
}
.bih {
  font-size: 12px !important;
}
.score {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #069;
  width: 52px;
}
.score .glyphicon {
  font-size: 16px;
  color: #777;
}

.prediction {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 0 auto;
}

.prediction input {
  text-align: center;
  font-size: 14px;
  width: 48px;
  padding: 2px;
}

.mid-cell {
  color: #eee;
  text-align: center;
}

.vs {
  text-align: center;
  font-size: 20px;
}

.points {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #0b0;
}

#rules-header,
#ranking-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #8ef;
  text-align: center;
  padding: 10px;
}

.rules {
  color: #fafafa;
  border-bottom: 1px solid #0ac;
  padding: 0px 20px 20px 0px;
}

.rules ul {
  margin: 0;
}

.example {
  font-size: 90%;
  padding: 10px;
  color: #f0f0f0;
}
.operation {
  color: #ddd;
  font-size: 90%;
}

#ranking {
  width: 100%;
}

.ranking-user td {
  padding: 10px 5px;
  color: #fafafa;
}

.ranking-user.active td {
  background: #0ac;
}

.ranking-user {
  color: #fafafa;
  cursor: pointer;
}

.ranking-user img {
  width: 32px;
  margin-right: 5px;
}

.ranking-user .position {
  font-size: 10px;
  text-align: right;
  width: 1em;
}

.ranking-user .username.position-1 {
  background-image: url(../img/crown.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.ranking-user .userpoints {
  width: 64px;
  text-align: center;
}

#userbox {
  background: #0bd url(../img/logo.png) top center no-repeat;
  padding: 160px 20px 10px 20px;
  border-bottom: 1px solid #0ac;
}

#userbox h3 {
  font-size: 22px;
  color: #fff;
}

#userbox h3 .logout-link {
  cursor: pointer;
  float: right;
  color: #fafafa;
  font-weight: normal;
  font-size: .8em;
}

.current-user {
  cursor: pointer;
}

.stats {
  position: relative;
  top: -24px;
  margin-left: 54px;
  color: #8ef;
}

.stat-item {
}

.stat-title {
  text-transform: uppercase;
  font-size: 12px;
}

.stat-value {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  padding-left: 10px;
}

#fork {
  border-top: 1px solid #0ac;
  margin-top: 90px;
  background: transparent url(../img/github.png) center 20px no-repeat;
  padding: 60px 20px;
  font-size: 12px;
  text-align: center;
  color: #8ef;
}

#fork a {
  color: #8ef;
}

.total-points {
  font-size: 20px;
  color: #000;
}

.p-label {
  font-weight: normal;
  text-transform: uppercase;
  padding-right: 20px;
}
.p-divider {
  margin-left: 10px;
  margin-right: 20px;
  border-right: 1px solid #0ac;
}
.p-value {
  font-weight: bold;
}
h1.x {
  font-size: 1.6em;
}
.exact-score {
  /*font-size:1.4em;*/
}
.winner-prediction {
  font-size: :2em;
}

/*Desktop*/
@media (max-width: : 992px) {
  #ranking-div {
    height: 200px;
    overflow: auto;
  }

}
